//--HOME--//
.home {
  position: relative;

  &__container {
    gap: 3rem;
  }
  &__data {
    gap: 0.5rem;
    text-align: center;
  }
  &__img {
    width: 300px;
    justify-self: center;
    margin-bottom: var(--mb-1);
  }
  &__title {
    font-size: var(--h1-font-size);
  }
  &__profession {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
  }
  &__address {
    gap: 1rem;
  }
  &__information {
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
  }
  &__icon {
    font-size: 1.2rem;
    margin-right: 0.25rem;
    font-weight: var(--font-medium);
  }
  &__button-movil {
    display: inline-block;
    border: 2px solid var(--text-color);
    color: var(--title-color);
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    transition: 0.3s;
    font-weight: var(--font-medium);
    margin-top: var(--mb-3);
  }
  &__button-movil:hover {
    background-color: var(--text-color);
    color: var(--container-color);
  }
}
